:root {
  --color-bg-1: #EE797A;
  --color-bg-2: #F08460;
  --color-primary: #1F201A;
  --color-secondary: #F4F8FD;
  --color-white: #fff;
  --border-radius: .7rem;
  --font-primary: 'Roboto', sans-serif;
  --cards-padding: 3rem 3rem; }

/*
$breakpoint arguement chocies:
-phone <= 600px
-tab-port   <= 900px
-tab-land <= 1200px
-big-desk >= 1800px
    ORDER: Base + Typography > general layout + grid > page layout > components
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: var(--color-primary);
  font-family: var(--font-primary);
  max-width: 100%;
  background-image: linear-gradient(to right, var(--color-bg-1) 40%, var(--color-bg-2));
  padding: 5rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0px; } }

.container {
  background-color: var(--color-secondary);
  width: 100%;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 8rem;
  background-color: var(--color-white);
  display: flex; }

.hero {
  width: 100%;
  padding: 3rem 0px;
  background-image: url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; }
  .hero__card {
    width: 50rem;
    padding: 3rem 3rem;
    color: var(--color-white);
    line-height: 2rem;
    background-color: rgba(31, 32, 26, 0.8);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
    .hero__card > *:not(:last-child) {
      margin-bottom: 2rem; }

.navigation {
  width: 100%;
  height: 6rem;
  background-color: var(--color-white);
  padding: 2rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .navigation__items {
    list-style-type: none;
    display: flex;
    justify-items: center;
    align-items: center; }
    @media only screen and (max-width: 64em) {
      .navigation__items {
        display: none;
        flex-direction: column; } }
  .navigation__item:not(:last-child) {
    margin-right: 2rem; }
  @media only screen and (max-width: 75em) {
    .navigation__item:not(:last-child) {
      margin-right: 1rem; } }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: var(--color-primary); }
    @media only screen and (max-width: 75em) {
      .navigation__link:link, .navigation__link:visited {
        padding: .5rem .75rem; } }

.calltoactions {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  @media only screen and (max-width: 37.5em) {
    .calltoactions .form {
      display: none; } }
  @media only screen and (max-width: 37.5em) {
    .calltoactions {
      flex-direction: column; } }
  .calltoactions__items {
    list-style-type: none;
    display: flex;
    justify-items: center;
    align-items: center; }
  .calltoactions__item:not(:last-child) {
    margin-right: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .calltoactions__item:not(:last-child) {
      margin-right: 3rem; } }
  .calltoactions__link:link, .calltoactions__link:visited {
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: var(--color-primary); }

.btn {
  color: var(--color-white);
  padding: 1rem 2rem;
  border: none;
  background-image: linear-gradient(to right, var(--color-bg-1) 40%, var(--color-bg-2));
  border-radius: 2rem;
  text-transform: uppercase; }
  .btn:active, .btn:focus {
    outline: none; }

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  column-gap: 4rem;
  row-gap: 4rem;
  padding: 5rem 15rem;
  justify-items: center; }
  @media only screen and (max-width: 56.25em) {
    .content {
      padding: 5rem;
      column-gap: 0px; } }
  @media only screen and (max-width: 37.5em) {
    .content {
      padding: 5rem 2rem; } }
  .content__card {
    border-radius: .7rem; }
    .content__card--header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem;
      line-height: 2rem;
      background-color: var(--color-white); }
      .content__card--header > *:not(:last-child) {
        margin-bottom: 2rem; }
      .content__card--header h3 {
        font-weight: 500;
        width: 18rem;
        text-align: center;
        line-height: 2.5rem; }
      .content__card--header p {
        text-align: center;
        font-weight: 300;
        font-size: 1.7rem;
        max-width: 35rem; }
    .content__card--image {
      width: 100%; }
      .content__card--image .image {
        width: 100%;
        height: 30rem;
        object-fit: cover; }
  .content__cto {
    border: 1px solid var(--color-primary);
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 2rem;
    background-color: transparent; }
    .content__cto:active, .content__cto:focus {
      outline: none; }

.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary); }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  position: relative; }
  .search:hover > .search__input {
    width: 30rem;
    height: 4rem;
    padding: 0.7rem 2rem;
    background-color: var(--color-secondary);
    border-radius: 10rem;
    margin-right: -4rem;
    right: 4rem; }
  .search:hover > .search__button {
    background-color: var(--color-secondary);
    border: none; }
  .search__input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: var(--color-primary);
    font-size: 1.6rem;
    width: 0px;
    position: absolute;
    right: -4.5rem; }
  .search__button {
    color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute; }
  .search__input, .search__button, .search__input:before, .search__button:after {
    transition: all .3s ease-in; }
  .search__input::-webkit-input-placeholder {
    font-weight: 300; }

.menu-button {
  background-color: transparent;
  border: none;
  display: none; }
  @media only screen and (max-width: 64em) {
    .menu-button {
      display: block; } }
  .menu-button:active, .menu-button:focus {
    outline: none; }

.dummy-menu {
  background-color: #fff;
  padding: 2rem 1rem;
  width: 20rem;
  display: none;
  position: absolute;
  top: 6rem;
  left: 2rem; }
  @media only screen and (max-width: 64em) {
    .dummy-menu .navigation__items {
      transition: all 3s ease-in;
      display: block;
      font-size: 2rem; }
      .dummy-menu .navigation__items > *:not(:last-child) {
        margin-bottom: 2rem; } }

.footer {
  background-color: var(--color-primary);
  height: 4rem;
  text-align: center;
  padding: 1rem 0;
  color: var(--color-white); }
